# SPDX-FileCopyrightText: Contributors to openadr3-client-gac-compliance <https://github.com/ElaadNL/openadr3-client-gac-compliance>
#
# SPDX-License-Identifier: Apache-2.0

name: Python Default CI

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

env:
  python_version: 3.13

jobs:
  codeqa:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Install uv
        uses: astral-sh/setup-uv@v7
        with:
          version: "0.9.22"
          enable-cache: true

      - name: Set up Python
        run: uv python install

      - id: install_dependencies
        run: uv sync --locked --all-extras --dev

      - name: Run formatter
        run: |
          mkdir format-logs
          uv run task format-ci > format-logs/ruff-lint.log

      - name: Upload formatter logs
        if: failure()
        uses: actions/upload-artifact@v4
        with:
          name: formatter-log
          path: format-logs

      - name: Run linter
        run: |
          mkdir linter-logs
          uv run task check-ci > linter-logs/ruff-lint.log

      - name: Upload linter logs
        if: failure()
        uses: actions/upload-artifact@v4
        with:
          name: linter-log
          path: linter-logs

      - name: Run type checker
        run: |
          mkdir mypy-logs
          uv run task mypy > mypy-logs/mypy-log.log

      - name: Upload mypy logs
        if: failure()
        uses: actions/upload-artifact@v4
        with:
          name: mypy-log
          path: mypy-logs

      - name: Run bandit
        run: |
          mkdir bandit-logs
          uv run task bandit > bandit-logs/bandit-log.log

      - name: Upload bandit logs
        if: failure()
        uses: actions/upload-artifact@v4
        with:
          name: bandit-log
          path: bandit-logs

      - name: Run reuse
        run: |
          mkdir reuse-logs
          uv run task reuse > reuse-logs/reuse-log.log

      - name: Upload reuse logs
        if: failure()
        uses: actions/upload-artifact@v4
        with:
          name: reuse-log
          path: reuse-logs

  tests:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Install uv
        uses: astral-sh/setup-uv@v7
        with:
          version: "0.9.22"
          enable-cache: true

      - name: Set up Python
        run: uv python install

      - id: install_dependencies
        run: uv sync --locked --all-extras --dev

      - id: run_tests
        run: uv run pytest --cov . --cov-report xml

      - name: Upload test coverage xml as artifact
        uses: actions/upload-artifact@v4
        with:
          name: coverage-results
          path: coverage.xml
